<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       					     http://www.springframework.org/schema/aop
                      	    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           	http://www.springframework.org/schema/tx
                           	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
       default-autowire="byName">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.user}" />  
        <property name="password" value="${db.pwd}" />  
    </bean>
    
    <bean id="channelDao" class="com.newleader.nlsite.admin.dao.ChannelDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="channelStatDao" class="com.newleader.nlsite.admin.dao.ChannelStatDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    
    <bean id="recordShareDao" class="com.newleader.nlsite.admin.dao.RecordShareDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="recordVirusDao" class="com.newleader.nlsite.admin.dao.RecordVirusDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="visitorChannelDao" class="com.newleader.nlsite.admin.dao.VisitorChannelDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="loveTestStatDao" class="com.newleader.nlsite.admin.dao.LoveTestStatDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="virualStatDao" class="com.newleader.nlsite.admin.dao.VirualStatDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="statActionDataDao" class="com.newleader.nlsite.admin.dao.StatActionDataDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="statUserActiveDao" class="com.newleader.nlsite.admin.dao.StatUserActiveDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="statResultDao" class="com.newleader.nlsite.admin.dao.StatResultDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="commonDao" class="com.newleader.nlsite.admin.dao.CommonDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="statMajorDao" class="com.newleader.nlsite.admin.dao.StatMajorDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="statViralProDao" class="com.newleader.nlsite.admin.dao.StatViralProDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    <bean id="statViralLoveDao" class="com.newleader.nlsite.admin.dao.StatViralLoveDao">  
    	<property name="dataSource" ref="dataSource"></property>  
    </bean>
    
    
	
</beans>