<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- =====================日常任务job========================== -->
    <!-- 用户活跃度 -->
	<bean id="statActionJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="quartzService" />
		<property name="targetMethod" value="quartzUserActiveStat" />
		<property name="concurrent" value="false"/>
	</bean> 
	<!-- 主表统计 -->
	<bean id="statMajorJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="quartzService" />
		<property name="targetMethod" value="quartzMajorStat" />
		<property name="concurrent" value="false"/>
	</bean> 
	<!-- =====================日常任务job end ======================== -->
	
	<!-- ======================== 调度触发器 ======================== -->  
	<bean id="statActionTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="statActionJob" />
		<property name="cronExpression" value="0 5 0 * * ?"/> <!--  每凌晨(0点5分)执行  -->
<!-- 		<property name="cronExpression" value="0 0/3 * * * ?"/> 每3分钟执行一次 -->
	</bean>
	<bean id="statMajorTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="statMajorJob" />
		<property name="cronExpression" value="0 10 0 * * ?"/>   
<!-- 		<property name="cronExpression" value="0 21 19 * * ?"/> 每3分钟执行一次 -->
	</bean>
	<!-- ======================== 调度触发器 end ====================== -->  
	
	<!-- ======================== 调度工厂 ======================== -->  
	<bean id="nlsiteQuertz" lazy-init="false" autowire="no" 	class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
 		<property name="triggers">
	 		<list>
	 			<ref local="statActionTask" />  
	 			<ref local="statMajorTask" />  
	 		</list>
 		</property>
	</bean>
</beans>
